body {
    font-family: Georgia, "Times New Roman", serif;
    background-color: white;
    color: black;
}

.home-main {
    max-width: 700px;
    margin: 60px auto;
    padding: 20px;
}

h1 {
    text-align: center;
    letter-spacing: 3px;
    font-size: 32px;
    margin-bottom: 10px;
}

h2 {
    text-align: center;
    font-size: 14px;
    letter-spacing: 3px;
    color: blue;
    margin-bottom: 20px;
}

hr {
    width: 80%;
    margin: 20px auto;
}

p {
    margin-bottom: 20px;
}

div {
    margin-left: 40px;
    margin-bottom: 15px;
}


.font {
    font-style: italic;
}

.logo {
    text-align: center;
    margin-top: 50px;
    color: blue;
    width: 120px;
    height: auto; 
}